#navigation{
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    color: #00ffff;
    justify-content: left;
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
   

}
a:link {
    text-decoration: none;
    color:#00ffff;
    text-align: center;
    justify-content: left;
    
    

}
div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50%;
    margin-right: 50%;
    justify-content: space-between;
    max-width: 100%;


}
#RCC {
    width: 250px;
    border-style: double; 
    border-color: black;
    
}
#AspiringLeader {
    width: 250px;
    border-style: double; 
    border-color: black;
}
#YellowBelt {
    width: 250px;
    border-style: double; 
    border-color: black;
}
#ABC2014 {
    width: 250px;
    border-style: double; 
    border-color: black;
}
#ABC2012{
    width: 250px;
    border-style: double; 
    border-color: black;
}
#customerservice {
    width: 250px;
    border-style: double; 
    border-color: black;;
}
#Scrum {
    width: 250px;
    border-style: double; 
    border-color: black;
}
#mypic {
    width: 300px;
    border-color: black; border-style: outset;
    justify-content: center;
    border-style: double; 
    border-color: black;
}
body {
    background-color: rgba(208, 238, 233, 0.11);
    border-style: double; 
    border-color: black;
}
#about-me {
    display: block;
    flex-direction: column;
}
.container {
 justify-content:center;
}
