/*made my links to be aligned left at the top of the page*/
#navigation{
    display: flex;
    flex-direction: column;
    background-color: gray;
    color: #00ffff;
    align-items: start;
    padding: 15px;
    font-size: medium;

}
/* trying to get them look even, although there is not an even amount of certs*/
#certs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
}
#cert-layout{
    display: grid;
    grid-template-rows: 125px 1fr;
}
a{
    text-decoration: none;
    color:#00ffff;
    text-align: center;

}

#RCC {
    width: 250px;
    border-style: double; 
    border-color: black;
    
}
#AspiringLeader {
    width: 250px;
    border-style: double; 
    border-color: black;
}
#YellowBelt {
    width: 250px;
    border-style: double; 
    border-color: black;
}
#ABC2014 {
    width: 250px;
    border-style: double; 
    border-color: black;
}
#ABC2012{
    width: 250px;
    border-style: double; 
    border-color: black;
}
#customerservice {
    width: 250px;
    border-style: double; 
    border-color: black;;
}
#Scrum {
    width: 250px;
    border-style: double; 
    border-color: black;
}
#mypic {
    width: 300px;
    border-color: black; border-style: outset;
    justify-content: center;
    border-style: double; 
    border-color: black;
}
body {
    background-color:rgb(236, 154, 190);
    border-style: double; 
    border-color: black;
    padding: 20px;
    font-family: "Indie Flower", cursive;
    font-size: x-large;
}
#about-me {
    display: block;
    flex-direction: column;
}
.container {
 justify-content:center;
}
footer a {
color: rgb(45, 230, 233);
}
#forms {
    display: flex;
    flex-direction: column;
    align-items:center;
    
}
th, td {
    text-align: center;
    padding: 5px
}
table {
    text-align: center;
    border: 5px solid black;
    border-collapse: collapse;

}
tr, td {
    border:5px solid black;
}
#pic-form {
    display: flex;
    justify-content: space-between;
}